extends layout

block title
	h1(class="nobreak captialize")=title.toLowerCase()
		small=" "+area.phone

block content
	//Display area info
	h2 Assigned Missionaries
	ul
		-for (var i = 0; i < area.missionaries.length; i++){
		li=area.missionaries[i]
		-}
	h2 Reports
	- for(var t = 0; t < data.length; t++){
	- //Table for each transfer
	table(class="table table-hover")
		thead
			tr
				th Submitted
				- for(var i = 0; i < config.length; i++){
				th=config[i].name
				- }
		tbody
			- for(var i = 0; i < data[t].length; i++){
			tr
				td=data[t][i]['$']
				- for(var j = 0; j < config.length; j++){
				td=data[t][i][config[j]['shortname']]
				- }
			- }
	- }