extends layout

block title
	h1(class="nobreak")="Baptisms for "+(new Date()).getFullYear()

block content
	div(class="jumbotron")
		div(class="container")
			h1=total+" "
				small Total conversions this year.
	- for(var i = 0; i < units.length; i++){
	h2=units[i].name+" ("+units[i].baptisms+" Baptisms)"
	table(class="table table-hover data-table")
		thead
			tr
				th Unit Name
				th Total Baptisms This Year
				th Percent To Goal
		tbody
			- for(var j = 0; j < units[i].units.length; j++){
			tr
				td=units[i].units[j].name
				td=units[i].units[j].baptisms
				- if(units[i].units[j].baptisms > 0){
				td
					div(class="progress")
						div(class="progress-bar" role="progressbar" aria-valuenow=units[i].units[j].baptisms aria-valuemin=0 area-valuemax="12" style="width: "+(units[i].units[j].baptisms/12)*100+"%;")=Math.round((units[i].units[j].baptisms/12)*100)+"%"
				- }else{
				td
					div(class="progress")
						div(class="progress-bar" role="progressbar" aria-valuenow=units[i].units[j].baptisms aria-valuemin=0 area-valuemax="12" style="width: "+(units[i].units[j].baptisms/12)*100+"%;")
				- }
			- }
	- }