extends layout

block title
	h1 Mission Totals


	- var fullMonth = function(date){
		- if(date.getMonth() == 0){
			- return "Jan";
		- }else if(date.getMonth() == 1){
			- return "Feb";
		- }else if(date.getMonth() == 2){
			- return "Mar";
		- }else if(date.getMonth() == 3){
			- return "Apr";
		- }else if(date.getMonth() == 4){
			- return "May";
		- }else if(date.getMonth() == 5){
			- return "Jun";
		- }else if(date.getMonth() == 6){
			- return "Jul";
		- }else if(date.getMonth() == 7){
			- return "Aug";
		- }else if(date.getMonth() == 8){
			- return "Sep";
		- }else if(date.getMonth() == 9){
			- return "Oct";
		- }else if(date.getMonth() == 10){
			- return "Nov";
		- }else if(date.getMonth() == 11){
			- return "Dec";
		- }
	-}

block content
	h2=""+start.getFullYear().toString()+"-"+fullMonth(start).toString()+"-"+start.getDate().toString()+" to "+end.getFullYear().toString()+"-"+fullMonth(end)+"-"+end.getDate().toString()
	table(class="table table-hover")
		thead
			tr
				th Week
				- for(var i = 0; i < config.length; i++){
				th=config[i].name
				- }
		tbody
			- for(var i = 0; i < totals.length; i++){
			tr
				td="Week "+(i+1)
				- for(var j = 0; j < config.length; j++){
				td=totals[i][config[j]['shortname']]+' ('+Math.round((totals[i][config[j]['shortname']]/numComps[i].totals)*100)/100+')'
				- }
			- }

	//Now for the zones...
	- for (group in report){
	- if(group !== 'undefined'){
	h2(class="captialize")=group.toLowerCase()
	- for (zone in report[group]){
	- if(zone !== 'undefined'){
	h3(class="print-break")
		a(class="captialize header-link" href="/zone/"+zone)=zone.toLowerCase()
	h4(class="nobreak")=""+start.getFullYear().toString()+"-"+fullMonth(start).toString()+"-"+start.getDate().toString()+" to "+end.getFullYear().toString()+"-"+fullMonth(end)+"-"+end.getDate().toString()
	table(class="table table-hover")
		thead
			tr
				th Week
				- for(var i = 0; i < config.length; i++){
				th=config[i].name
				- }
		tbody
			- for(var i = 0; i < report[group][zone].length; i++){
			- var iterated = report[group][zone].length-1
			- iterated = iterated - i
			tr
				td="Week "+(i+1)
				- for(var j = 0; j < config.length; j++){
				- if(typeof report[group][zone][i] !== 'undefined'){
				td=report[group][zone][iterated][config[j]['shortname']]+' ('+Math.round((report[group][zone][i][config[j]['shortname']]/numComps[i][zone])*100)/100+')'
				- }else{
				td --
				- }
				- }
			- }
	- }
	- }
	- }
	- }