extends layout

block scripts
	link(rel='stylesheet', href='/stylesheets/non-responsive.css')
	script(src="/javascripts/print-page.js")

block title
	h1 Mission Directory

block content
	div(class="smr")
		- if(reportForZone === ''){
		h2(class="captialize header-link print-break") Mission Directory
		- }else{
		h2(class="captialize header-link print-break")="Mission Directory, "+reportForZone.toLowerCase()+" Zone"
		- }
		- var date = new Date()
		h3="Generated "+date.getFullYear().toString()+'-'+(date.getMonth()+1).toString()+'-'+date.getDate().toString()+ " from"
			ul
				li="Companionship Organization - last imported "+reportsUpdated.areas.getFullYear().toString()+'-'+(reportsUpdated.areas.getMonth()+1).toString()+'-'+reportsUpdated.areas.getDate().toString()
				li="Organization Roster - last imported "+reportsUpdated.organizationRoster.getFullYear().toString()+'-'+(reportsUpdated.organizationRoster.getMonth()+1).toString()+'-'+reportsUpdated.organizationRoster.getDate().toString()
				li="Transfer Planning - last imported "+reportsUpdated.transferPlanning.getFullYear().toString()+'-'+(reportsUpdated.transferPlanning.getMonth()+1).toString()+'-'+reportsUpdated.transferPlanning.getDate().toString()

		- for(group in areas){
		- for(zone in areas[group]){
		- if(zone != 'MISSION OFFICE' && (reportForZone === '' || zone === reportForZone)){
		- for(district in areas[group][zone]){
		h2(class="captialize header-link print-break")=zone.toLowerCase()+" Zone, "+district.toLowerCase()+" District"
		- for(area in areas[group][zone][district]){
		div(class="panel panel-default print-together")
			div(class="panel-heading captialize")=area.toLowerCase()
			div(class="panel-body")
				div(class="row")
					- for(var i = 0; i < areas[group][zone][district][area].missionaries.length; i++){
					- var transferPlanningRecord = {}, transferOrganizationRosterRecord = {};

					- var namesAreEqual = function(name1, name2){
						- if(typeof name1 === 'undefined'){
							- return false;
						- }else if(typeof name2 === 'undefined'){
							- return false;
						- }
						- name1 = name1.toLowerCase();

						- var bindex1 = name1.indexOf('-');
						- var eindex1 = name1.indexOf(',');
						- if(bindex1 !== -1 && bindex1 < eindex1){
							- name1 = name1.substring(0, bindex1)+name1.substring(eindex1);
						- }

						- name2 = name2.toLowerCase();
						- var bindex2 = name2.indexOf('-');
						- var eindex2 = name2.indexOf(',');
						- if(bindex2 !== -1 && bindex2 < eindex2){
							- name2 = name2.substring(0, bindex2)+name2.substring(eindex2);
						- }

						- return name1.includes(name2) || name2.includes(name1);

					- }
					
					- for(var j = 0; j < transferPlanning.length; j++){
						- if(namesAreEqual(transferPlanning[j]['Missionary Name'], areas[group][zone][district][area].missionaries[i])){
							- transferPlanningRecord = transferPlanning[j];
						- }
					- }
					- for(var j = 0; j < organizationRoster.length; j++){
						- if(namesAreEqual(organizationRoster[j]['Missionary Name'], areas[group][zone][district][area].missionaries[i])){
							- organizationRosterRecord = organizationRoster[j];
						- }
					- }
					- if(i == 0){
					div(class="col-xs-"+(12-(3*areas[group][zone][district][area].missionaries.length)))
						ul
							li=areas[group][zone][district][area].phone
							- if(organizationRosterRecord['Area Address'] != ''){
							li
								div
									p(class="no-margin")=organizationRosterRecord['House Name']
									p(class="no-margin")=organizationRosterRecord['Street']
									p(class="no-margin")=organizationRosterRecord['City']+","+organizationRosterRecord['State/Province']+" "+organizationRosterRecord['Postal Code']
							- }
							
					- }
					div(class="col-xs-3")
						- var pic = 0;
						- for(id in roster){
							- if(areas[group][zone][district][area].missionaries[i] == roster[id].name){
								- pic = id;
							- }
						- }
						img(src="/images/"+pic+".jpeg" class="img-rounded smr")
						div
							- var numDots = Math.ceil(transferPlanningRecord['Weeks in Area']/6);
							- if(isNaN(numDots)){
								- numDots = 1;
							- }
							- for(var j = 0; j < numDots; j++){
							span(class="glyphicon glyphicon-one-fine-dot")
							- }
						strong=areas[group][zone][district][area].missionaries[i]
						p=roster[pic].position
					-}
		- }			
		- }
		- }
		- }
		- }